version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: lunch-rabbit
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres:
    image: postgres:16
    container_name: lunch-pg
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: lunchday
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7
    container_name: lunch-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  # compose

  # inventory-svc:
  #   build:
  #     context: ..
  #     dockerfile: apps/inventory-svc/Dockerfile
  #   environment:
  #     AMQP_URL: amqp://$RABBITMQ_USER:$RABBITMQ_PASS@rabbitmq:5672
  #     DATABASE_URL: postgres://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@postgres:5432/${POSTGRES_DB:-lunchday}
  #     REDIS_URL: redis://redis:6379
  #     # (opcional) LOG_LEVEL: info
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #     postgres:
  #       condition: service_healthy
  #     redis:
  #       condition: service_healthy
  #   restart: unless-stopped
  
  # market-adapter-svc:
  #   build:
  #     context: ..
  #     dockerfile: apps/market-adapter-svc/Dockerfile
  #   environment:
  #     AMQP_URL: amqp://guest:guest@rabbitmq:5672
  #     MARKET_URL: https://recruitment.alegra.com/api/farmers-market
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #   restart: unless-stopped

volumes:
  pg_data:
  redis_data:
